    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Quem?</h2>
                <p>
                    Meu nome é Thiago Paes, também conhecido como <b>mrprompt</b>. <br>
                    Sou um desenvolvedor web, apaixonado por tecnologia e inovação.<br>
                    Também sou radioamador, operando na faixa de VHF e UHF, com o indicativo <b>PU5JNP</b>, assim como nas faixas de Radio Cidadão, com o indicativo PX5R1337.<br>
                </p>
            </div>
        </div>
    </section>